/*Color Scheme
#011638  Dark Blue
#343434  Charcoal
#CECED6
#51888C  Cold Blue
#5BB0D8  Warm Blue

*/


/*Main Styles*/

html {
    /*background-image:url(../_pics/tealtileBG.jpg);*/
    background-color: #343434;
    background: -webkit-linear-gradient(top, #343434 75%, #000 100%);
    background: -moz-linear-gradient(top, #343434 75%, #000 100%);
    background: linear-gradient(top, #343434 75%, #000 100%);
    margin: auto;
    font-family: "Bentham", "Times New Roman", serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    line-height: 1.1;
}

body {
    /*background-image:url(../_pics/greymarbleBG.jpg);*/
    border-radius: 10px;
    padding: 20px;
    margin: 7em auto 5em;
    background-color: #51888C;
    background: -webkit-linear-gradient(top, #51888C 33%, #011638 100%);
    background: -moz-linear-gradient(top, #51888C 33%, #011638 100%));
    background: linear-gradient(top, #51888C 33%, #011638 100%));
    width: 90%;
}

header{
    text-align: center;
}

footer {
    clear: both;
}

/*Link Styles
*/
a {
   color:  #011638; 
    font-size: .8em;
    text-shadow: 2px 2px 2px #5BB0D8;
}

a:hover {
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
}


/*Navigation Styles*/
nav {
    border-radius: 15px;
    background: #CECED6;
    font-weight: 700;
    text-align: center;
    width: 80%;
    height: 3em;
    padding: 2em;
    border: 3px solid #5BB0D8;
    position: fixed;
    top: -2em;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    overflow: hidden;
}

nav dl{
    float: left;
    margin: 3px 1em;
    text-transform: uppercase;
    font-size: 1.25em;
}

nav dl a {
  text-decoration: none;   
}

nav dl a:hover {
    padding: 7px 4px 4px;
    background-color: #343434;
    color: #CECED6;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 4px 4px 2px 2px #51888C;
}

nav h2 {
    font-size: 1.3em;
    margin: 0px auto .25em;  
    background-color: #343434;
    color: #CECED6;
    border: none;
    border-radius: 4px;
    letter-spacing: 5px;
    height: 1.7em;
    line-height: 1.7em;
}

nav a {
    font-size: 1em;   
}

/*Content Styles*/


#content {
    position: static;
    height: auto;
    min-height: 20em;
    width: 70%;
    background: #CECED6;
    /*background-image:url(../_pics/legalpadBG.jpg);*/
    background: -webkit-linear-gradient(left, #CECED6 80%, #FFF 100%);
    background: -moz-linear-gradient(left, #CECED6 50%, #FFF 100%);
    background: linear-gradient(left, #CECED6 50%, #FFF 100%);
    margin: auto;
    padding: .5em;
    border-right: 7px solid #343434;
    border-radius: 30px;
    border-bottom-right-radius: 15px;
    border-bottom: 10px solid  #343434;
}

h1, h2, h3, h4, h5, h6 {
    font-variant: small-caps;
    text-align: center;
    text-shadow: 2px 2px 2px #5BB0D8;
    text-rendering: optimizeLegibility;
}

h1, h2 {
    border-right: 7px solid #343434;
    border-radius: 30px;
    border-bottom-right-radius: 10px;
    border-bottom: 10px solid  #5BB0D8;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p {
    text-align: justify;
    text-indent: 1em;
    line-height: 1.75;
    padding: .5em; 
}

/*Styles to format lists on interest pages*/

.interestList p {
    min-height: 11em;
}

p img {
    float: left;
    margin: 1em;
    max-height: 12em;
    max-width: 12em;
    box-shadow: 3px 3px 2px 2px #343434;
}

/*Animate Footer Text*/

footer {
    letter-spacing: -1px;
}

footer:hover {
    letter-spacing: normal;
    )

/*Overlay Syles for books pop up*/

#overlay {
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,0.7);
    cursor: pointer;
}

